.header{
    background-color: LightSeaGreen;
}

.section{
   background-color: #FFFFFF;
}

.footer{
    margin-left: 34%;
    color: Aqua;
}

.footer_name{
    background-color: black;
    color: Aqua;
}

.image{
    border-radius: 100px
    width: 30px;
    height: 30px;
}

.footer_image{
    background-color: black;
}
.slide{
 width: 50%;
    height: 50%;
}
.center{
    text-align: center;}